<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyApp" connectionString="Server=123.31.57.218;Port=5432;Database=MyApp;User Id=example;Password=example;" />
		<add name="MyApp2" connectionString="Server=123.31.57.218;Database=MyApp;Uid=root;Pwd=example;" />
	</connectionStrings>
</configuration>