<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
		<add key="DatabaseType" value="MySql"/>
	</appSettings>
	<connectionStrings>
		<add name="postgresql" connectionString="Server=123.31.57.218;Port=5432;Database=MyApp;User Id=example;Password=example;" />
		<add name="mysql" connectionString="Server=123.31.57.218;Database=MyApp;Uid=root;Pwd=example;" />
	</connectionStrings>
</configuration>